baseURL = "https://jenkins-x.io/"
paginate =  100
defaultContentLanguage = "en"
enableEmoji = true
# Set the unicode character used for the "return" link in page footnotes.
footnotereturnlinkcontents = "???"
languageCode = "en-us"
metaDataFormat = "yaml"
title = "Jenkins X"
theme = "gohugoioTheme"

googleAnalytics = "UA-4216293-7"

canonifyURLs=true
pluralizeListTitles = false

# Highlighting config (Pygments)
# It is (currently) not in use, but you can do ```go in a content file if you want to.
pygmentsCodeFences = true

pygmentsOptions = ""
# Use the Chroma stylesheet
pygmentsUseClasses = true
pygmentsUseClassic = false

# See https://help.farbox.com/pygments.html
pygmentsStyle = "friendly"

[languages]
  [languages.en]
    weight = 1
    languageName = "English"
  [languages.zh]
    languageCode = "zh-CN"
    weight = 2
    languageName = "中文"
    [[languages.zh.menu.global]]
      name = "文档"
      weight = 1
      identifier = "docs"
      url = "/zh/documentation"
    [[languages.zh.menu.global]]
      name = "新闻"
      weight = 5
      identifier = "news"
      url = "/zh/news"
    [[languages.zh.menu.global]]
      name = "社区"
      weight = 150
      icon = true
      identifier = "community"
      url = "/zh/community"
    [[languages.zh.menu.global]]
      name = "GitHub"
      weight = 200
      identifier = "github"
      post = "external"
      url = "https://github.com/jenkins-x/jx"
    [[languages.zh.menu.global]]
      name = "Jenkins"
      weight = 200
      identifier = "jenkins"
      post = "external"
      url = "https://jenkins.io/zh"
    [[languages.zh.menu.global]]
      name = "赞助商"
      weight = 250
      identifier = "sponsors"
      url = "/zh/sponsors/"

    [[languages.zh.menu.docs]]
      name = "关于 Jenkins X"
      weight = 1
      identifier = "about"
      url = "/zh/about/"
    [[languages.zh.menu.docs]]
      name = "入门"
      weight = 5
      identifier = "getting-started"
      url = "/zh/getting-started/"
      post = "break"
    [[languages.zh.menu.docs]]
      name = "研发"
      weight = 8
      identifier = "developing"
      url = "/zh/developing/"
      post = "break"
    [[languages.zh.menu.docs]]
      name = "示例"
      weight = 20
      identifier = "demos"
      url = "/zh/demos/"
      post = "break"
    [[languages.zh.menu.docs]]
      name = "架构"
      weight = 25
      identifier = "architecture"
      url = "/zh/architecture/"
      post = "break"
    [[languages.zh.menu.docs]]
      name = "扩展"
      weight = 30
      identifier = "extending"
      url = "/extending/"
      post = "break"
    [[languages.zh.menu.docs]]
      name = "API"
      weight = 40
      identifier = "api"
      url = "https://jenkins-x.io/apidocs/"
    [[languages.zh.menu.docs]]
      name = "命令行"
      weight = 40
      identifier = "commands"
      url = "/commands/jx/"
    [[languages.zh.menu.docs]]
      name = "常见问题"
      weight = 60
      identifier = "faq"
      url = "/zh/faq/"
    [[languages.zh.menu.docs]]
      name = "贡献"
      weight = 100
      identifier = "contribute"
      url = "/zh/contribute/"
    [[languages.zh.menu.quicklinks]]
      name = "基础"
      weight = 1
      identifier = "fundamentals"
      url = "/zh/tags/fundamentals/"

[outputs]
home = [ "HTML", "RSS", "HEADERS", "Algolia"]
section = [ "HTML", "RSS"]

[mediaTypes]
[mediaTypes."text/netlify"]
delimiter = ""

[outputFormats]
[outputFormats.HEADERS]
mediatype = "text/netlify"
baseName = "_headers"
isPlainText = true
notAlternative = true

[related]

threshold = 80
includeNewer = true
toLower = false

[[related.indices]]
name = "keywords"
weight = 100
[[related.indices]]
name  = "date"
weight = 10
pattern = "2006"

[social]
twitter = "jenkinsxio"

#CUSTOM PARAMS
[params]
  description = "Jenkins X is a CI/CD solution for modern cloud applications on Kubernetes"
  ## Used for views in rendered HTML (i.e., rather than using the .Hugo variable)
  release = "2.0.312"
  ## Setting this to true will add a "noindex" to *EVERY* page on the site
  removefromexternalsearch = false
  ## Gh repo for site footer (include trailing slash)
  ghrepo = "https://github.com/jenkins-x/jx-docs/"
  ## GH Repo for filing a new issue
  github_repo = "https://github.com/jenkins-x/jx/issues/new"
  ### Edit content repo (set to automatically enter "edit" mode; this is good for "improve this page" links)
  ghdocsrepo = "https://github.com/jenkins-x/jx-docs/tree/master/docs"
  ## Gitter URL
  gitter = "/community"
  ## Discuss Forum URL
  forum = "/community"
  ## Google Tag Manager
  gtmid = ""

  # First one is picked as the Twitter card image if not set on page.
  images = ["images/logo.png"]

  flex_box_interior_classes = "flex-auto w-100 w-40-l mr3 mb3 bg-white ba b--moon-gray nested-copy-line-height"

  #sidebar_direction = "sidebar_left"

[languages.zh.params]
  description = "Jenkins X 是基于 Kubernetes 的现代云应用 CI/CD 解决方案"

# MARKDOWN
## Configuration for BlackFriday markdown parser: https://github.com/russross/blackfriday
[blackfriday]
	plainIDAnchors = true
  # See https://github.com/gohugoio/hugo/issues/2424
	hrefTargetBlank = false
  angledQuotes = false
  latexDashes = true

[imaging]
# See https://github.com/disintegration/imaging
# CatmullRom is a sharp bicubic filter which should fit the docs site well with its many screenshots.
# Note that you can also set this per image processing.
resampleFilter = "CatmullRom"

# Defatult JPEG quality setting. Default is 75.
quality = 75

anchor = "smart"


## As of v0.20, all content files include a default "categories" value that's the same as the section. This was a cheap future-proofing method and should/could be changed accordingly.
[taxonomies]
  category = "categories"

# High level items

[[menu.docs]]
  name = "About Jenkins X"
  weight = 1
  identifier = "about"
  url = "/about/"

[[menu.docs]]
  name = "Getting Started"
  weight = 5
  identifier = "getting-started"
  url = "/getting-started/"
  post = "break"

[[menu.docs]]
  name = "Developing"
  weight = 8
  identifier = "developing"
  url = "/developing/"
  post = "break"

[[menu.docs]]
  name = "Demos"
  weight = 20
  identifier = "demos"
  url = "/demos/"
  post = "break"

[[menu.docs]]
  name = "Architecture"
  weight = 25
  identifier = "architecture"
  url = "/architecture/"
  post = "break"

[[menu.docs]]
  name = "Extending"
  weight = 30
  identifier = "apps"
  url = "/apps/"
  post = "break"

# Core Menus

[[menu.docs]]
  name = "API"
  weight = 40
  identifier = "api"
  url = "https://jenkins-x.io/apidocs/"

[[menu.docs]]
  name = "CLI"
  weight = 42
  identifier = "commands"
  url = "/commands/jx/"



# LOW LEVEL ITEMS


[[menu.docs]]
  name = "FAQ"
  weight = 60
  identifier = "faq"
  url = "/faq/"

[[menu.docs]]
  name = "Contribute"
  weight = 100
  identifier = "contribute"
  url = "/contribute/"

#[[menu.docs]]
#  name = "Tags"
#  weight = 120
#  identifier = "tags"
#  url = "/tags/"


# [[menu.docs]]
#   name = "Categories"
#   weight = 140
#   identifier = "categories"
#   url = "/categories/"

######## QUICKLINKS

  [[menu.quicklinks]]
    name = "Fundamentals"
    weight = 1
    identifier = "fundamentals"
    url = "/tags/fundamentals/"




######## GLOBAL ITEMS TO BE SHARED WITH THE HUGO SITES

[[menu.global]]
    name = "News"
    weight = 5
    identifier = "news"
    url = "/news/"

  [[menu.global]]
    name = "Documentation"
    weight = 1
    identifier = "docs"
    url = "/documentation"

  # Anything with a weight > 100 gets an external icon
  [[menu.global]]
    name = "Community"
    weight = 150
    icon = true
    identifier = "community"
    url = "/community"


  [[menu.global]]
    name = "GitHub"
    weight = 200
    identifier = "github"
    post = "external"
    url = "https://github.com/jenkins-x/jx"

  [[menu.global]]
    name = "Jenkins"
    weight = 200
    identifier = "jenkins"
    post = "external"
    url = "https://jenkins.io"

  [[menu.global]]
    name = "Sponsors"
    weight = 250
    identifier = "sponsors"
    url = "/sponsors/"

  [[menu.global]]
    name = "Security"
    weight = 300
    identifier = "security"
    url = "/security/"

## lets setup Angolia search
[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
notAlternative = true

[params.algolia]
vars = ["title", "summary", "date", "publishdate", "expirydate", "permalink"]
params = ["categories", "tags"]