

/* home page tab styling
.nav-tabs {
    border-bottom: 0px;
}
.nav-tabs .nav-link {
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-item .nav-link {
    color: #00526e;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover, .nav-tabs .nav-link.disabled:focus {
    border: 0px;
    background-color: transparent;
}
*/

/* sidebar overrides */

.td-sidebar__inner {
    top: 1rem !important;
}

.td-sidebar-nav__section li {
    list-style: none;
    padding: .1em;

}

.td-sidebar {
    padding-top: 0px !important;
    position: sticky;
    top: 5.5rem;
    /* overflow-y: hidden; */
}

.td-main main {
    padding-top: 1.5rem !important;
    margin-top: 5.5rem;
}

.td-toc {
    top: 5.5rem;
    position: sticky;
}

a img {
    padding-top: 15px;
    max-width: -webkit-fill-available;
    float: left;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .x-content-band {
        height: auto !important;
        background-size: contain !important;
        background-position: top center !important;
    } 
}

.DocSearch-Modal { top: 27px;}