/*

Add styles or override variables from the theme here.

*/

$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.td-navbar .navbar-brand svg {
  margin: 0 10px 5px !important;
}

footer {
  min-height: auto !important;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 20%;
  padding-right: 0.75em;
  margin: 0.5em 0 0.5em 0;
  font-weight: bold;
}
dd {
  float: left;
  width: 75%;
  padding: 0;
  margin: 0.5em 0 0.5em 0;
}
