<header class="bg-primary-color-dark ph4 tc" role="banner">

  <div class="center w-100 w-50-ns">
    {{ partial "svg/logo.svg" . }}
  </div>

  <div class="center w-100 w-50-ns">
    <p class="f3 fw4 white-90 m0 lh-title pt2 pb3 pv0-ns">
      {{ T "hero" }}
    </p>
  </div>

  <style>
    .carousel_633 {
      background-size: contain !important;
    }

    .carousel_633 a {
      font-size: 16px;
      color: #fff;
      text-decoration: none !important;
    }

    .carousel_633 img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .carousel_633 {
      background: transparent url(images/hero/dwjw-2019-io-01.jpg) no-repeat center;
    }
  </style>

  <section class="center pb4 pb5-l ph4-l pt3 pt5-ns w-100 w-60-l carousel_633" style="width: 100%;height:700px;">
    <a href="https://www.cloudbees.com/devops-world/">
    <div id="ProjectCarousel_633">
      <div class="center w-100 w-50-ns" style="height: 650px;">

      </div>

      <div class="center w-100 w-50-ns">
        <a href="https://www.lfasiallc.com/events/kubecon-cloudnativecon-china-2019/">
          <h2>

          </h2>
          <p>

          </p>
          <p>

          </p>
        </a>
        <div>
          <!-- <a class="btn btn-primary"
             href="/news/jenkins-x-cdf/">
            Read the Announcement
          </a> -->
        </div>
      </div>
    </div>
  </a>
  </section>
</header>
