---
title: About Goldydocs
linkTitle: AboutG

---


{{< blocks/cover title="About Jenkins X" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">Jenkins X is designed to make it simple for developers to work to DevOps principles and best practices.
</p>

{{< /blocks/cover >}}

{{% blocks/section %}}
The approaches taken are based on the comprehensive research done for the book [*ACCELERATE: Building and Scaling High Performing Technology Organsiations*](https://goo.gl/vZ8BFN). 

You can read why we use [Accelerate](../accelerate) for the principals behind Jenkins X.
{{% /blocks/section %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Principles</h1>
</div>

{{% blocks/section %}}
*"DevOps is a set of practices intended to reduce the time between committing a change to a system and the change being placed into normal production, while ensuring high quality."*

The goals of DevOps projects are:

* Faster time to market
* Improved deployment frequency
* Shorter time between fixes
* Lower failure rate of releases
* Faster Mean Time To Recovery

High performing teams should be able to deploy multiple times per day compared to the industry average that falls between once per week and once per month. 

The lead time for code to migrate from 'code committed' to 'code in production' should be less than one hour and the change failure rate should be less than 15%, compared to an average of between 31-45%.

The Mean Time To Recover from a failure should also be less than one hour. 

Jenkins X has been designed from first principles to allow teams to apply DevOps best practices to hit top-of-industry performance goals. 

{{% /blocks/section %}}

{{< /blocks/section >}}



{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another section</h1>
</div>

{{< /blocks/section >}}
