{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">Not found</h1>
       <p>Oops! This page doesn't exist. Try going back to our <a href="{{ "/" | relURL }}">home page</a>.</p>

       <p>You likely arrived here because of an incorrect link in our docs. We're sorry about that and are in the process of updating the links after having recently revamped the docs site.</p>
       <p>We'd love your help! <a href="/docs/guides/contributing/documentation//">Our docs contribution guide can be found here</a>.</p>

       <img src="/images/404-page/GOPHER RIDING REX.png" class="img-thumbnail">
       <p>image by Ashley McNamara, <a href="https://github.com/ashleymcnamara/gophers/blob/master/GOPHER%20RIDING%20REX.png">creative commons license</a></p>
      </div>
    </main>
{{ end }}
