<div class="w-100 center pt5">
  <div class="w-100 w-40-l tc center">
    <img src="/images/GitHub-Mark-64px.png" alt="Github Logo" class="tc center">
  </div>
</div>

<div class="flex-ns flex-wrap center pb4 center mw9">
  <!-- LEFT -->
  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">We welcome all contributions</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">

        <a href="http://jenkins-x.io/contribute/" class="link mid-gray dim">
          Fork the repo and work on an issue {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
      <li class="mb3 f4">
        <a href="https://github.com/jenkins-x/jx/issues" class="link mid-gray dim">
          Browse open issues {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>

  </div>


  <div class="w-100 w-third-l tc">
    <div class="w-60-l center">

      <p class="f4">Jenkins X is open-source and completely free.</p>
      <p class="f4">Our contributors make Jenkins X great.</p>
    </div>
  </div>


  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">More ways to contribute</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">
        <a href="https://github.com/jenkins-x/jx-docs" class="link mid-gray dim">
          Help improve the docs {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>

      <li class="mb3 f4">

        <a href="/community" class="link mid-gray dim">
          Help others in the #jenkins-x chat room {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>
  </div>


  <!-- RIGHT -->


</div>
