<div class="w-100 center pt5">
  <div class="w-100 w-40-l tc center">
    <img src="/images/GitHub-Mark-64px.png" alt="GitHub Logo" class="tc center">
  </div>
</div>

<div class="flex-ns flex-wrap center pb4 center mw9">
  <!-- LEFT -->
  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">{{ T "welcome-contributions" }}</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">

        <a href="{{ "/contribute" | absLangURL }}" class="link mid-gray dim">
          {{ T "fork-repo-issue" }} {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
      <li class="mb3 f4">
        <a href="https://github.com/jenkins-x/jx/issues" class="link mid-gray dim">
          {{ T "browse-open-issues" }} {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>

  </div>


  <div class="w-100 w-third-l tc">
    <div class="w-60-l center">

      <p class="f4">{{ T "jx-is-open" }}</p>
      <p class="f4">{{ T "contributors-make-jx-great" }}</p>
    </div>
  </div>


  <div class="w-100 tc w-third-l">
    <h3 class="f3 mv3 accent-color-light">{{ T "more-ways-contribute" }}</h3>
    <ul class="list ma0 pa0">
      <li class="mb3 f4">
        <a href="https://github.com/jenkins-x/jx-docs" class="link mid-gray dim">
          {{ T "help-improve-docs" }} {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>

      <li class="mb3 f4">

        <a href="{{ "/community" | absLangURL }}" class="link mid-gray dim">
          {{ T "help-others" }} {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}
        </a>
      </li>
    </ul>
  </div>


  <!-- RIGHT -->


</div>
