<div class="row">
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <p class="card-text text-center">
          <a href="/docs/v3/getting-started/eks/" title="setup Jenkins X on Amazon cloud with EKS">
            <img alt="Amazon" src="/images/logo/aws.svg" style="float: none;"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <p class="card-text text-center">
          <a href="/docs/v3/getting-started/azure/" title="setup Jenkins X on Azure cloud with AKS">
            <img alt="Azure" src="/images/logo/azure.svg" style="float: none;"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <p class="card-text text-center">
          <a href="/docs/v3/getting-started/gke/" title="setup Jenkins X on Google Cloud with GKE">
            <img alt="Google" src="/images/logo/gcp.svg" style="float: none;"/>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <p class="card-text text-center">
          <a href="/docs/v3/getting-started/on-premise/" title="setup Jenkins X on any Kubernetes cluster without cloud resources">
            <img alt="On Premise" src="/images/logo/k8s.svg" style="float: none;"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <p class="card-text text-center">
          <a href="/docs/v3/getting-started/minikube/" title="setup Jenkins X on your laptop">
            <img alt="Minkube" src="/images/logo/minikube.svg" style="float: none;"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center align-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/getting-started/openshift/" title="setup Jenkins X on OpenShift">
            <img width="397" height="66" alt="OpenShift" src="/images/logo/openshift.png" style="float: none;"/>
          </a>
        </h1>
      </div>
    </div>
  </div>
</div>

