{{ $urlPre := "https://api.github.com" }}
{{ $contributors := getJSON $urlPre "/repos/jenkins-x/jx/collaborators" (dict "Authorization" (printf "Bearer %s" (os.Getenv "GH_ACCESS_TOKEN"))) }}
{{ $sortedContributors := sort $contributors "total" "desc" }}

  <table>
    <tbody>
  {{ range $count,$contributor := $sortedContributors }}
    {{ if modBool $count 4 }}
      <tr>
    {{ end }}  
      <td>
          <a href="{{ .html_url }}"><img src="{{ .avatar_url }}" width="50%" alt="{{ .login }}"/></a>
          <div style='width: 100px; text-align: center;'><sub><b>{{ .login }}</b></sub></div>
      </td>
    {{ if modBool ( add $count 1 ) 4 }}
      </tr>
    {{ end }} 
  {{ end }}
   </tbody>
  </table>
