<div class="row">
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/about/what" title="What is JayeX and why would I use it">What is JayeX?</a>
        </h1>
        <p class="card-text align-bottom">2 minute introduction to JayeX and why you would want to use it</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/about/overview/" title="Overview of JayeX and its architecture">Architecture</a>
        </h1>
        <p class="card-text align-bottom">an overview of JayeX and its architecture</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/about/how-it-works/" title="How JayeX works">How it works</a>
        </h1>
        <p class="card-text align-bottom">a guide for how JayeX installs, upgrades, imports projects and performs promotion</p>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/develop/create-project/" title="create quickstarts or import new repositories">Create Projects</a>
        </h1>
        <p class="card-text align-bottom">create new quickstarts or import existing repositories into JayeX</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/develop/developing/" title="GCP with GKE">Developer Guide</a>
        </h1>
        <p class="card-text align-bottom">how to develop with JayeX</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/v3/about/changes/" title="what has changed">Whats new</a>
        </h1>
        <p class="card-text align-bottom">recent changes in JayeX 3.x</p>
      </div>
    </div>
  </div>
</div>