<div class="row">
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/about/what" title="What is Jenkins X and why would I use it">What is Jenkins X?</a>
        </h1>
        <p class="card-text align-bottom">2 minute introduction to Jenkins X and why you would want to use it</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/about/overview/" title="Overview of Jenkins X and its architecture">Architecture</a>
        </h1>
        <p class="card-text align-bottom">an overview of Jenkins X and its architecture</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/about/how-it-works/" title="How Jenkins X works">How it works</a>
        </h1>
        <p class="card-text align-bottom">a guide for how Jenkins X installs, upgrades, imports projects and performs promotion</p>
      </div>
    </div>
  </div>
</div>

<div class="row pt-4">
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/develop/create-project/" title="create quickstarts or import new repositories">Create Projects</a>
        </h1>
        <p class="card-text align-bottom">create new quickstarts or import existing repositories into Jenkins X</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/about/changes/" title="what has changed">Whats new</a>
        </h1>
        <p class="card-text align-bottom">recent changes in Jenkins X 3.x</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center h-100">
      <div class="card-body align-center">
        <h1 class="card-title">
          <a href="/docs/v3/develop/" title="GCP with GKE">Developer Guides</a>
        </h1>
        <p class="card-text align-bottom">more detailed developer guides</p>
      </div>
    </div>
  </div>
</div>